*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
    font-size: 1.2rem;
}

.ag-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ag_darkBlue;
    width: 100wh;
    height: 100vh;
}